GROQ_API_KEY=your_groq_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here
OLLAMA_URL=http://localhost:11434
VECTOR_DB_PATH=./backend/data/vector_db
UPLOAD_PATH=./backend/data/uploads
DB_PATH=./backend/data/intellipdf.db
DEFAULT_LLM=groq
LOG_LEVEL=INFO
LOG_FILE=./backend.log
API_HOST=0.0.0.0
API_PORT=8000
FRONTEND_PORT=8501
CHUNK_SIZE=800
CHUNK_OVERLAP=150
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
TOP_K=5
SIMILARITY_THRESHOLD=0.3

# Firebase Authentication
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json